<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="vi">
    <link href="/css/tailwind.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body style="height: 100vh">
    <header class="flex">
        <div class="w-2/12 bg-blue-500 h-11" style="background-color: #3a82f8;">
        </div>
        <div class="w-10/12 relative">
            <div class="flex h-11 bg-blue-500 items-center">
                <button>
                    <img class="text-justify h-7 ml-2" src="images/icons/bars-solid.svg" alt="">
                </button>
                <h2 class="text-white font-sans font-medium ml-2">QUẢN LÝ TÀI SẢN</h2>
                <div class="ml-auto flex items-center">
                    <!-- <span class="text-xs text-white mr-1">Nguyễn Phương Hoa</span> -->
                    <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between text-xs text-white mr-1">
                        <p class="mr-1 font-medium">Nguyễn Phương Hoa</p> 
                        <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg>
                    </button>
                    <button>
                        <img src="images/avatars/test-avt.jpg" class="w-8 h-8 border border-white rounded-full ml-1 mr-2" alt="">
                    </button>
                    <button class="w-4 h-4 text-xs flex justify-center items-center border border-white rounded-full text-white mr-10">?</button>
                </div>
            </div>
            <div id="dropdownNavbar" class="z-30 absolute hidden bot-2 right-24 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Thông tin tài khoản</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Giỏ hàng</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Lịch sử giao dịch</a>
                  </li>
                </ul>
                <div class="py-1">
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Đăng xuất</a>
                </div>
            </div>
        </div>
    </header>
    <container class="flex" style="height: 92vh">
        <nav class="w-2/12 text-black font-sans border-r border-gray-400 bg-100 h-fulls relative  flex flex-col shadow-md items-center" style="color: #BBC0C4;background-color:#263755 ; background-image: url('images/nigh.jpg');background-size:cover; background-position: center;">
            <!-- <div class="w-full h-52" style=" position: absolute;top: 0;  left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.01);"> -->
            <div class="w-full h-40 relative border-b bg-gray-50 border-gray-600 bouder-double" style="background-color:#32373C ; background-image: url('images/night.jpg');background-size:cover; background-position: center;"> 
              <div class="h-2/6 w-full p-8 pl-16 rounded-full  ">
                <img class="rounded-full h-20 opacity-95 " src="images/avatars/test-avt.jpg" alt=""> 
              </div>
              <button class="text-xs absolute bottom-2.5 left-5  rounded-sm py-0.5 px-2">Đổi mật khẩu</button>
              <button class="text-xs absolute bottom-2.5 left-28  rounded-sm py-0.5 px-1">Đăng xuất</button>
            </div>
            <div class="w-full mb-0.5 ml-1">
                <menu class="h-64 flex-col flex pl-2.5 pr-3.5 rounded-lg items-center justify-evenly">
                     <button onclick="redirectToAccountManagement()" class="flex items-center hover:bg-gray-600 dark:hover:bg-gray-700  hover:border-gray-600  w-full py-1.5 pl-3 mt-1.5 text-left rounded">
                        <a class="h-full border-y-2 border-white">Quản lý tài khoản</a>
                    </button>
                    <button onclick="redirectToMarketManagement()" class="flex items-center dark:text-white hover:bg-gray-600 dark:hover:bg-gray-700  w-full py-1.5 pl-3 mt-1.5 text-left rounded">
                        <a>Quản lý chợ tài sản</a>
                    </button>
                    <div id="subMenu" class="hidden">
                        <button>Xem tài sản đang bán</button>
                        <button>Thống kê giao dịch</button>
                    </div> 
                    <button onclick="redirectToMarket()" class="flex items-center   hover:bg-gray-600 dark:hover:bg-gray-700  w-full py-1.5 pl-3 mt-1.5 text-left rounded">
                        <span>Xem chợ tài sản</span></button>
                    <button onclick="redirectToAssetManagement()" class="flex items-center  hover:bg-gray-600 dark:hover:bg-gray-700    w-full py-1.5 pl-3 mt-1.5 text-left rounded">
                        <span">Quản lý tài sản</span>
                    </button>
                    <button onclick="redirectToExpensePlanner()" class="flex  hover:bg-gray-600 dark:hover:bg-gray-700   w-full py-1.5 pl-3 mt-1.5 text-left rounded">
                        <span>Lập kế hoạch chi tiêu</span>
                    </button>
                </menu>
                <button class=" absolute bottom-1.5 -left-1.5 rounded px-4" onclick="logout()">Thoát</button>
            </div>
        </nav>
        <div class="bg-gray-300 w-10/12 h-full p-4 relative">
            <div class="relative h-full overflow-x-auto shadow-md sm:rounded-lg bg-white">
                <table class="w-full relative text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <nav class="p-5 h-20 sticky top-0 z-10 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                        <div class="flex">
                            <form class="flex" action="/asset-management" method="post">
                                <input type="text" name="sortOrder" class="hidden">
                                <select name="sortBy" id="filter" data-dropdown-toggle="dropdownRadio" class="inline-flex cursor-pointer items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-1 focus:ring-gray-100 font-medium rounded-lg text-sm px-2 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                                    <option value="id" selected class="h-6 cursor-pointer text-gray-400 text-sm px-2 py-1.5">Mặc định</option>
                                    <option value="asset_name" class="h-6 cursor-pointer text-gray-400 text-sm px-2 py-1.5 rounded-md">Tên tài sản</option>
                                    <option value="category" class="h-6 cursor-pointer text-gray-400 text-sm px-2 py-1.5 rounded-md">Thể loại</option>
                                </select>
                                <div class="ml-2 cursor-pointer flex items-center" onclick="sort()">
                                    <img id="sortIcon" class="w-5" src="images/icons/ic-alphabetical-sorting-az.svg" alt="">
                                </div>
                                <div class="relative ml-44">
                                    <button class="absolute inset-y-0 left-3 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                                    </button>
                                    <input type="search" spellcheck="false" id="table-search" name="searchQuery" class="block pl-9 outline-none py-2 ps-10 text-sm text-gray-500 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Tìm kiếm theo tên, thể loại, chú thích,..">
                                </div>
                            </form>
                            <button type="button" onclick="openAddAsset()" class="text-white bg-blue-700 ml-5 hover:bg-blue-800 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Thêm tài sản</button>
                            <!-- <button type="button" id="deleteBtnSelect" onclick="alertDelete()" class="deleteBtnSelect hidden text-white bg-red-700 ml-5 hover:bg-blue-800 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Xóa tài sản</button> -->
                            <button type="button" id="deleteBtnSelect" onclick="alertDelete()" class="deleteBtnSelect absolute hidden top-12 right-0 font-medium rounded-lg text-sm me-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                <img class="w-7" src="images/icons/delete-all-4.svg" alt="">
                            </button>
                        </div>

                    </nav>
                    <thead class="text-xs sticky top-20 z-10 text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th class="hidden"></th>
                            <th scope="col" class="p-2 whitespace-nowrap text-center">
                                
                            </th>
                            <th scope="col" class="p-2 whitespace-nowrap text-center ">
                                Tên tài sản
                            </th>
                            <th scope="col" class="p-2 whitespace-nowrap">
                                Thể loại
                            </th>
                            <th scope="col" class="whitespace-nowrap text-center">
                                Trạng thái
                            </th>
                            <th scope="col" class="p-2 px-0 whitespace-nowrap text-center">
                                Giá
                            </th>
                            <th scope="col" class="p-2 whitespace-nowrap text-center">
                                Ngày mua
                            </th>
                            <th scope="col" class="p-2 whitespace-nowrap text-center">
                                Bảo hành
                            </th>
                            <th scope="col" class="whitespace-nowrap text-center">
                                % Khấu hao
                            </th>
                            <th scope="col" class="p-2 max-w-52 whitespace-nowrap text-center">
                                Chú thích
                            </th>
                            <th scope="col" onclick="selectBtn()" class="whitespace-nowrap text-center cursor-pointer">
                                <img src="/images/icons/mutil_select.svg" alt="">
                            </th>
                        </tr>
                    </thead>
                    <tbody class="max-h-72 ">
                        <% results.forEach((asset, index) => { %>
                          <tr id="asset_<%= asset.id %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="hidden"><%= asset.id %></td>
                            <td onclick="openEditAsset('<%= asset.id %>')" id="<%= asset.id %>" data-account-id="<%= asset.id %>" class="py-1 cursor-pointer font-medium text-gray-900 whitespace-nowrap " style="min-width: 44px;">
                              <img class="w-9 bg-cover bg-center h-11 ml-2" src="/images/products/<%= asset.id %>.jpg" alt="">
                            </td>
                            <td class="pl-3 whitespace-nowrap overflow-hidden overflow-ellipsis font-medium text-gray-900 dark:text-white" style="max-width: 200px;"><%= asset.asset_name %></td>
                            <td class="px-2 whitespace-nowrap py-4" data-value="<%= asset.category %>"><%= asset.category %></td>
                            <td class="pr-4 whitespace-nowrap py-4 text-center"><%= asset.status %></td>
                            <td class="px-2 whitespace-nowrap py-4" data-value="<%=asset.price%>">
                                <% if (asset.price != 0) { %>
                                    <%= asset.price.toLocaleString() + "đ" %>
                                  <% } %>
                            </td>
                            <td class="px-2 whitespace-nowrap py-4">
                                <% 
                                const date = new Date(asset.purchase_date);
                                const day = date.getDate();
                                const month = date.getMonth() + 1; // Vì tháng trong JavaScript bắt đầu từ 0
                                const year = date.getFullYear();
                                const formattedDate = day + '/' + month + '/' + year;
                                if (!isNaN(date)) {
                                  %><%= formattedDate %><%
                                } else {
                                  %> <%
                                }
                              %>
                             </td>
                            <!-- <td class="pr-4 whitespace-nowrap py-4"><%= asset.purchase_date %></td> -->
                            <td  class="px-2 whitespace-nowrap py-4 text-center" data-value="<%= asset.warranty_period %>">
                                <% 
                                if (asset.warranty_period != "null") {
                                    %><%= asset.warranty_period %> <%
                                } 
                              %>
                            </td>
                            <td  class="px-2 whitespace-nowrap py-4 text-center pr-4" data-value-='<%= asset.depreciation %>''>
                                <% 
                                if ( asset.depreciation != 0) {
                                    %><%= asset.depreciation %> <%
                                } 
                              %>
                                
                            </td>
                            <td  class="pl-2 max-w[218px] overflow-hidden overflow-ellipsis whitespace-nowrap py-4 pr-2" style="max-width: 218px;"><%= asset.description %></td>
                            <td class="changeBtn w-10 flex whitespace-nowrap py-2 justify-center items-center text-center pr-4 text-blue-700 font-medium">
                                <div onclick="openSellAsset('<%= asset.id %>')" data-account-id="<%= asset.id %>" class="flex h-full pt-1.5 items-center justify-center">
                                    <img  onclick="" class="w-10 cursor-pointer " src="images/icons/transaction-management-2.svg" alt="">
                                </div>
                            </td>
                            <td> <input class="checkboxBtn  py-2 text-center pr-4 text-blue-700 font-medium hidden" type="checkbox" name="" id="" onclick="openDeleteBtnSelect()"></td>
                          </tr>
                        <% }) %>
                      </tbody>
                </table>
            </div>

            <!-- form gửi ảnh -->
            <form id="img-upload-form" class="hidden" enctype="multipart/form-data">
                <input type="file" name="img_product" id="img_product" onchange="handleImageSelection(event)">
                <input type="text" name="id" id="id_assetforImg" value="1">
                <input type="text" name="isAccount" value="0">
                <button type="button" id="submit_img" onclick="uploadImage()">Upload Image</button>
            </form>

            <!-- giao diện thêm, sửa tài sản -->
              <div id="AssetForm" class="bg-black hidden  bg-opacity-10 absolute z-10 top-4" style="height: 89vh; width: 82vw;">
                <div class="container mx-auto py-8 px-9 bg-white shadow-lg rounded-lg relative" style="height: 83vh; width: 48vw;">
                    <div type="button" onclick="hiddenAssetForm()" class="absolute cursor-pointer text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </div>
                  <form action="/asset-management/update" method="post" id="AssetAction">
                    <input type="text" name="id" id="asset_id" class="hidden">
                    <div class="flex gap-3">
                      <div>
                        <div id="image-preview" onclick="chooseImage()" class="bg-gray-200 bg-cover bg-center cursor-pointer rounded-md w-40 h-52 mt-8 mr-2 flex justify-center items-center mb-4 border border-blue-500">
                          <span id="chooseImageSpan" class="tex t-blue-500 text-lg">Upload Image</span>
                        </div>
                      </div>

                      <div>
                        <div class="flex mb-3">
                            <div class="w-4/6 pr-4">
                                <label class="block mb-2 font-bold">Tên tài sản:</label>
                                <input type="text" placeholder="" spellcheck="false" id="asset_name" name="asset_name" class="border w-full h-10 border-gray-300 rounded-md p-2 outline-none focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>
                            <div class="w-2/6">
                                <label for="asset-category" aria-placeholder="Điện tử" class="block mb-2 font-bold whitespace-nowrap">Thể loại:</label>
                                <select id="category" name="category" class="border cursor-pointer w-full border-gray-300 rounded-md px-1 py-2 outline-none focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ">
                                  <option>Nội thất</option>
                                  <option>Kệ kho</option>
                                  <option>Điện máy</option>
                                  <option>Điện tử</option>
                                  <option>Gia dụng</option>
                                  <option>Lưu trữ</option>
                                  <option>Giải trí</option>
                                  <option>Phương tiện</option>
                                </select> 
                            </div>
                        </div>

                        <div class="flex mb-3">
                            <div class="w-2/5">
                                <label for="asset-status" class="block mb-2 font-bold">Trạng thái:</label>
                                <select id="asset_status" name="status" class="w-full cursor-pointer border border-gray-300 rounded-md p-2 outline-none focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                  <option value="Mới">Mới</option>
                                  <option value="Cũ">Cũ</option>
                                </select>
                            </div>
                            <div class="w-3/5 pl-4">
                                <label for="purchase-date" class="block mb-2 font-bold">Ngày mua:</label>
                                <input type="date" id="date" name="purchase_date" class="w-full cursor-pointer h-10 border border-gray-300 rounded-md p-2 outline-none focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>
                        </div>

                        <div class="flex">
                            <div class="w-1/2 mr-4">
                                <label for="depreciation" class="block mb-2 font-bold">Khấu hao(%):</label>
                                <input type="number" step="0.01" id="depreciation" name="depreciation" class="border h-10 w-full border-gray-300 rounded-md p-2 outline-none focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>
                            <div class="w-1/2">
                                <label for="asset-price" class="block mb-2 font-bold">Giá:</label>
                                <input type="number" id="price" name="price" class="w-full h-10 border border-gray-300 rounded-md p-2 outline-none focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>
                        </div>
                        
                      </div>
                    </div>
                    <div class="flex">
                      <div class="w-1/3 pr-4">
                        <label for="warranty_period" class="block mb-2 font-bold">Bảo hành: <span class="font-normal"></label>
                        <div class="flex border-gray-300 rounded-md" style="border-width: 1px;">
                            <input type="text" id="warranty_period" name="warranty_period" class="w-3/6  rounded-md py-2 text-right outline-none focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <select name="" id="warranty_type" class="w-4/6 cursor-pointer  rounded-md pr-1 py-2 outline-none focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ">
                                <option value="" selected></option>
                                <option value="năm">năm</option>
                                <option value="tháng">tháng</option>
                                <option value="ngày">ngày</option>
                            </select>
                        </div>
                       

                        <div id="actionBtn" class="flex confirmBtnList hidden gap-1 items-center  justify-center ">
                            <div id="submitBtn"  onclick="submitEvent('add')" class="mt-8 cursor-pointer  flex items-center justify-center w-full  border-gray-300 foucus:ring-1  text-white font-semibold py-2 px-4 border rounded shadow">
                              <img id="icon-sell" class="w-5 mr-2 cursor-pointer hidden " src="images/icons/transaction-management-2.svg" alt="">
                              <p id="labelAssetBtn" class="text-white text-center">Lưu</p>
                          </div>
                          <button id="hiddenConfirmBtn"></button>
                            <div onclick="openDeleteAsset()" class="w-16 cursor-pointer hidden font-light mt-8 " id="deleteBtn"><img class="w-8 h-8 font-light" src="/images/icons/recycle-bin-line-icon.svg" alt=""></div>
                        </div>

                        <div id="sellBtn" onclick="submitEvent('edit')" class="mt-8 confirmBtnList hidden  cursor-pointer flex items-center justify-center w-full bg-blue-600  border-blue-600 boder-8 hover:bg-blue-700 text-white font-semibold py-2 pr-4 pl-2 border rounded shadow" style="background-color: rgb(253, 253, 253);border-width: 1.5px;box-shadow: #BBC0C4;" >
                            <img id="icon-sell" class="w-5 mr-2 cursor-pointer hidden " src="images/icons/transaction-management-2.svg" alt="" style="display: block;">
                            <p id="labelAssetBtn" class="text-white text-center" style="color: blue;">Đăng bán</p>
                        </div>

                        <div id="waitBtn" class="mt-8 confirmBtnList disabled hidden   flex items-center justify-center w-full bg-gray-600 rounded-md  text-white font-semibold py-2 pr-4 pl-2 border border-gray-300" style="background-color: #F3F3F3;box-shadow: #BBC0C4;" >
                            <img id="icon-sell" class="w-5 mr-2   text-white " src="images/icons/1-wait.svg" alt="" style="display: block;">
                            <label id="labelAssetBtn" class="text-gray-500 read-only text-center" >Chờ duyệt..</label>
                        </div>

                        <div id="sellingBtn" class="mt-8 confirmBtnList disabled hidden    flex items-center justify-center w-full bg-gray-600 rounded-md  text-white font-semibold py-2 pr-4 pl-2 border border-gray-300" style="background-color: #F3F3F3;box-shadow: #BBC0C4;" >
                            <img id="icon-sell" class="w-6 mr-2   text-white " src="images/icons/wait-for-1.svg" alt="" style="display: block;">
                            <label id="labelAssetBtn" class="text-gray-500 read-only text-center" >Đang bán..</label>
                        </div>

                      </div>
                  
                      <div class="w-2/3">
                        <label for="description" class="block mb-2 font-bold">Chú thích:</label>
                        <textarea id="description" spellcheck="false" name="description" rows="4" class="w-full border border-gray-300 rounded-md p-2 outline-none focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
            </div>


            <div id="DeleteForm" class="absolute z-20 hidden top-0 py-32 text-center bg-black bg-opacity-10 " style="height: 89vh;width: 81vw;">
              <form action="/asset-management/delete" method="post" class="w-2/6 ml-72 p-6 rounded-xl relative bg-white opacity-100">
                  <input type="hidden" name="selectedIds" id="selectedIds" value="">
                  <div type="button" onclick="cancelDelete()" class="text-gray-400 absolute cursor-pointer top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                      <span class="sr-only">Close modal</span>
                  </div>
                  <svg class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                  <p class="mb-4 text-gray-500 dark:text-gray-300">Bạn có muốn xóa tài sản đã chọn?
                      <!-- <span id="idDeleted" class="text-blue-600">@admin12</span> khỏi hệ thống? -->
                  </p>
                  <div class="flex justify-center items-center space-x-4">
                      <button type="submit" class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900">
                          Có, Chắc chắn
                      </button>
                      <div data-modal-toggle="deleteModal" onclick="cancelDelete()" type="button" class="py-2 px-3 cursor-pointer text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                          Không
                      </div>
                  </div>
              </form>
          </div>  
        </div>

    </container>
    <!-- <script src="../controllers/accountController.js" type="text/javascript"></script> -->
    <script src="/js/redirect.js" type="text/javascript"></script>
    <script src="/js/asset.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>
</html>


